[submodule "lessons/massignment1"]
	path = lessons/massignment1
	url = https://github.com/SDEV2351-OE01-1261/ma-01-git-branching-workflow-srellister.git
[submodule "lessons/InventoryLookup"]
	path = lessons/InventoryLookup
	url = https://github.com/srellister/sdev2351quicklookup
[submodule "lessons/lab-1-the-byte-club"]
	path = lessons/lab-1-the-byte-club
	url = https://github.com/SDEV2351-OE01-1261/lab-1-the-byte-club
